In [2]:
import numpy as np
import pandas as pd
import sqlite3

In [3]:
# If you get a error about mixed types in a column use the second line.
#  And change the column name correct column
# df = pd.read_csv("commodity_trade.csv")
df = pd.read_csv("commodity_trade.csv",dtype={'comm_code': str})

In [4]:
df.shape

(8225871, 10)

In [5]:
df.dtypes

country_or_area     object
year                 int64
comm_code           object
commodity           object
flow                object
trade_usd            int64
weight_kg          float64
quantity_name       object
quantity           float64
category            object
dtype: object

In [6]:
# count the missing values for each column
missing_values_count = df.isnull().sum()
missing_values_count

country_or_area         0
year                    0
comm_code               0
commodity               0
flow                    0
trade_usd               0
weight_kg          128475
quantity_name           0
quantity           304857
category                0
dtype: int64

In [7]:
df.head(1)

,country_or_area,year,comm_code,commodity,flow,trade_usd,weight_kg,quantity_name,quantity,category
0,Afghanistan,2016,010410,"Sheep, live",Export,6088,2339.0,Number of items,51.0,01_live_animals

In [8]:
df.describe()

               year     trade_usd     weight_kg      quantity
count  8.225871e+06  8.225871e+06  8.097396e+06  7.921014e+06
mean   2.004768e+03  9.505370e+07  3.556503e+07  2.671470e+08
std    7.037779e+00  7.074154e+09  2.479277e+09  3.739231e+11
min    1.988000e+03  1.000000e+00  0.000000e+00  0.000000e+00
25%    1.999000e+03  1.107200e+04  1.089000e+03  1.062000e+03
50%    2.005000e+03  1.534160e+05  2.689800e+04  2.712000e+04
75%    2.011000e+03  1.895476e+06  4.474432e+05  4.623620e+05
max    2.016000e+03  2.443311e+12  1.860133e+12  1.026357e+15

### Create or connect to SQLite3 database

In [9]:
conn = sqlite3.connect('./example_eda.db')

### Create a new table called commodity in example_eda.db

In [10]:
df.to_sql('commodity', conn, if_exists='replace', index=False)

8225871